{
	"presets": [
		["@babel/env", {
			"targets": {
				"node": "current"
			}
		}, "@babel/preset-env"]
	],
	"plugins": [
        ["@babel/transform-runtime"]
    ],
	"env": {
		"debug": {
			"retainLines": true
		}
	}
}
